<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 't.css' %}">
        <div class="basic">
                {% include "dealer1.html" %}
            </div>
    </head>
        <body>
            <div style="overflow-x:auto;">   
                <center>
                    <H1>COMPLAINT DETAILS</H1>
            <table border="2px">
                <tr>
                   
                   
                    <th>complaint</th>
                    <th>date</th>
                   <th>status</th>
                 
                </tr>

        {% for pr in items1 %}
        <tr>
           
           
            <td>{{pr.complaint}}</td>
           
            <td>{{pr.date}}</td>
          <td>{{pr.status}}</td>
           
   
            {% endfor %}
            </tr>
            </table>
        </center>
            </div>
        </body>
</html>