<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 't.css' %}">
        <div class="basic">
                {% include "dealer1.html" %}
            </div>
    </head>
        <body>
            <div style="overflow-x:auto;">   
                <center>
                    <H1>RETURN ORDER DETAILS</H1>
            <table border="2px">
                <tr>
                   
                   
                    <th>product name</th>
                    <th>amount</th>
                    <th>quantity</th>
                    <th>reason</th>
                    <th>status</th>
                  
                  
                </tr>

        {% for pr in items1 %}
        <tr>
           
           
            <td>{{pr.orderdet_id.prod_id.name}}</td>
           
            <td>{{pr.orderdet_id.amount}}</td>
          
            
            <td>{{pr.orderdet_id.quantity}}</td>

            <td>
                {{pr.return_reason}}
            </td>
           <td>
            {{pr.status}}
           </td>
           
            {% endfor %}
            </tr>
            </table>
        </center>
            </div>
        </body>
</html>