<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Saico Spices, Leading Manufacturer of the increasingly popular saico brand of curry powders,coffee,pickles,pickle powders,Atta etc.. based in caicut, Kerala</title>

        <!-- CSS -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap25.min.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate25.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup25.css' %}">
        <link rel="stylesheet" href="{% static 'flexslider/flexslider25.css' %}">
        <link rel="stylesheet" href="{% static 'css/form-elements25.css' %}">
        <link rel="stylesheet" href="{% static 'css/style25.css' %}">
        <link rel="stylesheet" href="{% static 'css/media-queries25.css' %}">
	    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
        
        <!-- Top menu -->
		<nav class="navbar" role="navigation">
		<div style="float:right; padding:10px 16px 5px; color:#990000; font-size:18px; font-weight:bold; font-family:'Times New Roman', Times, serif; font-style:italic;">

				   </div>
			<div class="container">
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="{% static 'img/pattern/7.jpg' %}" width="200" he>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown active">
						<a href="/index"><i class="fa fa-home"></i><br>HOme</a>

						<li>

					
						   <li >
							<a href="/login"><img src="{% static 'ico/images (1).jpg' %}" name="login"><i>login</i></a>
                           </li>
						   
					</ul>
				</div>
			</div>
			
		</nav>

        <!-- Slider -->
      <div class="slider-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 slider">
                        <div class="flexslider">
                            <ul class="slides">
                             
                                <li data-thumb="{% static 'img/saico slider/banner_4.jpg' %}">
                                    <img src="{% static 'img/saico slider/banner_4.jpg' %}">
                                   
                                </li>
                                <li data-thumb="{% static 'img/saico slider/a.jpg' %}">
                                    <img src="{% static 'img/saico slider/a.jpg' %}">
                                   
                                </li>
                                <li data-thumb="{% static 'img/saico slider/8407155311_33ea8edc2a_o.jpg' %}">
                                    <img src="{% static 'img/saico slider/8407155311_33ea8edc2a_o.jpg' %}">
                                    
                                </li>
								   <li data-thumb="{% static 'img/saico slider/banner_6.jpg' %}">
                                    <img src="{% static 'img/saico slider/banner_6.jpg' %}">
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Presentation -->
        <div class="presentation-container">
        	<div class="container">
        		<div class="row">
	        		<div class="col-sm-12 wow fadeInLeftBig">
	            		<h1><span class="violet">Saico</span>,making your life tasty .</h1>
	            		<p>Saico provides highest quality at lower price .</p>
	            	</div>
            	</div>
        	</div>
        </div>
		
  <!-- Services -->
        <div class="services-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-3" style="width:375px">
		                <div class="service wow fadeInUp">
		                    <h3>Spice Powder</h3>
							 <p><a href=""><img src="{% static 'img/categry/19.jpg' %}"></a></p>
							 <p>We are manufacturers of red chilly powder.With high quality grinding from quality chillies.....</p>
		                    <a class="big-link-1" href="">SPICE</a>
		                </div>
					</div>
					<div class="col-sm-3" style="width:375px">
		                <div class="service wow fadeInDown">
		                    <h3>Masala Powder</h3>
		                    <p><a href=""><img src="{% static 'img/categry/13.jpg' %}"></a></p>
							<p>We are producing variety of masala blends with making high quality southIndian chicken masala...
 </p>
		                    <a class="big-link-1" href="">MASALA</a>
		                </div>
	                </div>
	              
	                <div class="col-sm-3" style="width:375px">
		                <div class="service wow fadeInDown">
		                    <h3>Pickles</h3>
		                    <p><a href=""><img src="{% static 'img/categry/images (7).jpg' %}"></a></p>
							<p>We are making Indian pickles,which have a wide range of flavours and textures.its  delicious....</p>
		                    <a class="big-link-1" href="">PICKLE</a>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Latest work -->
        <div class="services-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 work-title wow fadeIn">
		                <h2>Our Products</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3" style="width:375px">
		                <div class="service wow fadeInUp">
		                    <h3>Wheat Powder</h3>
		                    <p><a href=""><img src="{% static 'img/categry/images (1).jpg' %}"></a></p>
							<p>Floor from finest grains,carefully processed...
							Floor from finest grains,carefully processed...</p>
		                    <a class="big-link-1" href="">WHEAT</a>
		                </div>
					</div>
	               <div class="col-sm-3" style="width:375px">
		                <div class="service wow fadeInUp">
		                    <h3>Coffee Powder</h3>
		                    <p><a href=""><img src="{% static 'img/categry/pic5.jpg' %}"></a></p>
							<p>Easy to prepare a range of food products make it tasty....Tasty and warm up ur energy.</p>
		                    <a class="big-link-1" href="">COFFEE</a>
		           
					</div>
		            </div>
		          <div class="col-sm-3" style="width:375px">
		                <div class="service wow fadeInUp">
		                    <h3>Rice Powder</h3>
		            <p><a href=""><img src="{% static 'img/categry/0.jpg' %}"></a></p>
					<p>Start day with a healthy breakfast or treat guests to a sumptuous Kerala Style Breakfast.</p>
		                    <a class="big-link-1" href="">RICE</a>
		                </div>
					</div>
		            </div>
		            </div>
		          
		            </div>
	            </div>
	        </div>
        </div>
        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Testimonials</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image">
	                				<!-- |	<img src="{% static 'img/testimonials/1.jpg' %}" alt="" data-at2x="{% static 'assets/img/testimonials/1.jpg' %}"> -->
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Me and my family are regular users of your products...such as all types of pckles,spice powders,and masala powder...saico is diffrent from all other products availabe in the market.this is delicios and traditional.. we pursue our cherished objective-consitency in quality and purity-relentlessly...."<br>
		                                	<a href=""></a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab2">
	                				<div class="testimonial-image">
	                					<img src="{% static 'img/testimonials/1.jpg' %}" alt="" data-at2x="{% static 'assets/img/testimonials/2.jpg' %}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Me and my family are regular users of your products...such as all types of pckles,spice powders,and masala powder...saico is diffrent from all other products availabe in the market.this is delicios and traditional.. we pursue our cherished objective-consitency in quality and purity-relentlessly......."<br>
		                                	<a href=""></a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab3">
	                				<div class="testimonial-image">
	                					<img src="{% static 'img/testimonials/1.jpg' %}" alt="" data-at2x="{% static 'assets/img/testimonials/3.jpg' %}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Me and my family are regular users of your products...such as all types of pckles,spice powders,and masala powder...saico is diffrent from all other products availabe in the market.this is delicios and traditional.. we pursue our cherished objective-consitency in quality and purity-relentlessly...."<br>
		                                	<a href=""></a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab4">
	                				<div class="testimonial-image">
	                					<img src="{% static 'img/testimonials/1.jpg' %}" alt="" data-at2x="{% static 'assets/img/testimonials/1.jpg' %}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	Me and my family are regular users of your products...such as all types of pckles,spice powders,and masala powder...saico is diffrent from all other products availabe in the market.this is delicios and traditional.. we pursue our cherished objective-consitency in quality and purity-relentlessly...."<br>
		                                	<a href=""></a>
		                                </p>
	                                </div>
	                			</div>
	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
	                			<li role="presentation" class="active">
	                				<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
	                			</li>
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4>About Us</h4>
                        <div style="font-family:'Courier New', Courier, monospace; font-size:14px;color: #888;
; font-family:'Times New Roman', Times, serif;
    ">
	                        <p>
							The enviable brand equity and leadership position in the market as its sheet strength.
Saico spices had made quality and purity the hall marks of its Products without compromsing on the original quality of the raw materials. Saico provides highest quality at lower price.
	                        </p>
	                        <p><a href=""></a></p>
                    </div></div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
					<h4>About Us</h4>
                        <div style="font-family:'Courier New', Courier, monospace; font-size:14px;color: #888;
; font-family:'Times New Roman', Times, serif;
    ">
                        <h4>Email Updates</h4>
                        <div class="footer-box-text footer-box-text-subscribe">
                        	<p>You can email as and enquire about the product details and you'll be one of the first to get new updates:</p>
                        	<form role="form" action="assets/subscribe.php" method="post">
		                    	<div class="form-group">
		                    		<label class="sr-only" for="subscribe-email">Email address</label>
		                        	<!-- <input type="text" name="email" placeholder="Email..." class="subscribe-email" id="subscribe-email"> -->
		                        </div>
		                        <!-- <button type="submit" class="btn">Subscribe</button> -->
		                    </form></div>
		                    <p class="success-message"></p>
		                    <p class="error-message"></p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <div class="footer-box-text flickr-feed"></div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
					<h4>About Us</h4>
                        <div style="font-family:'Courier New', Courier, monospace; font-size:14px;color: #888;
; font-family:'Times New Roman', Times, serif;
    ">
                        <h4>Contact Us</h4>
                        <div class="footer-box-text footer-box-text-contact">
	                        <p><i class="fa fa-map-marker"></i> Address: Saico Spices,Pantheerankavu,Calicut-673019</p>
	                        <p><i class="fa fa-phone"></i> Phone: 0495-2430366,2430367</p>
	                        <p><i class="fa fa-envelope"></i> Email: <a href="">Saicospices@gmail.com</a></p>
							</div>
                        </div>
                    </div>
                </div>
				
                <div class="row">
                	<div class="col-sm-12 wow fadeIn">
                		<div class="footer-border"></div>
                	</div>
                </div>
                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                        <p>Copyright 2015  - All rights reserved<a href="http://azmind.com"></a>.</p>
                    </div>
                    <div class="col-sm-5 footer-social wow fadeIn">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
		<script src="{% static 'js/jquery-1.11.125.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap25.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'flexslider/jquery.flexslider-min25.js' %}"></script>
        <script src="{% static 'js/jflickrfeed.min.js' %}"></script>
        <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="{% static 'js/jquery.ui.map25.min.js' %}"></script>
        <script src="{% static 'js/scripts25.js' %}"></script>

  </body>
  </html>
