<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 't.css' %}">
        <div class="basic">
                {% include "staff1.html" %}
            </div>
    </head>
        <body>
            <div style="overflow-x:auto;">   
                <center>
                    <H1>STOCK UPDATE</H1>
            <table border="2px">
                <tr>
                   
                   
                    <th>category</th>
                    <th>name</th>
                    <th>description</th>
                    <th>photo</th>
                    <th>price</th>
                    <th>unit</th>
                    <th>quantity</th>
                   
                    <th>#####</th>
                </tr>

        {% for pr in items1 %}
        <tr>
           
           
            <td>{{pr.cat_id.cat_name}}</td>
            <td>{{pr.name}}</td>
            <td>{{pr.description}}</td>
            <td><img src="{{pr.photo}}" width="100" height="100"></td>
            <td>{{pr.unitprice}}</td>
            <td>{{pr.unit}}</td>
            <td>{{pr.quantity}}</td>
            
           
            <td><a href="/stockupdate1/{{pr.prod_id}}">UPDATE</a></td>
   
            {% endfor %}
            </tr>
            </table>
        </center>
            </div>
        </body>
</html>